[submodule "3rd/nanovg"]
	path = 3rd/nanovg
	url = https://github.com/memononen/nanovg.git
	branch = master
[submodule "3rd/enkiTS"]
	path = 3rd/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "3rd/vg_renderer"]
	path = 3rd/vg_renderer
	url = https://github.com/RudjiGames/vg_renderer
